@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using Models.Dto.Usuario
@model EnabledUserDto

@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
    var enableUserMsg = ViewData["EnableUser"] as string;
    var isValidoOK = ViewData["isValidoOK"] as bool? ?? false;
}

<!-- Modal Bootstrap -->
<div class="modal fade" id="enableUserModal" tabindex="-1" aria-labelledby="enableUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="enableUserModalLabel">Información</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                @enableUserMsg
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<div class="page-header align-items-start min-vh-100"
     style="background-size: contain;background-image: url('@Url.Content("~/assets/images/logos/marcaAgua.jpg")');">
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-4 col-md-8 col-12 mx-auto">
                <div class="card z-index-0 fadeIn3 fadeInBottom">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                            <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">Habilitar Usuario</h4>
                        </div>
                    </div>
                     @if (isValidoOK)
                     {
                        <div class="card-body">
                            <div role="alert" style="text-align: center; background-color: #e6f4ea; border: none;">
                                    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                                    {
                                        <p style="font-weight: bold; font-size: 1.25rem;">@error.ErrorMessage</p>
                                    }
                                </div>
                            <div class="text-center">
                                <form asp-controller="Auth" asp-action="InicioSesion" method="get">
                                    <button type="submit" class="btn bg-gradient-primary w-100 my-4 mb-2">Iniciar sesión</button>
                                </form>
                            </div>
                        </div>
                     }
                      else
                     {
                        <div class="card-body">
                        <form asp-controller="EnableUser" asp-action="ValidarCodigo" method="post" asp-antiforgery="true">
                            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                            <span asp-validation-for="Email" class="text-danger"></span>
                            <div class="input-group input-group-outline my-3 @(Model.Email?.Length > 0 ? "focused" : "")">
                                <label asp-for="Email" class="form-label">Correo</label>
                                <input asp-for="Email" class="form-control" />
                            </div>

                            <span asp-validation-for="Codigo" class="text-danger"></span>
                            <div class="input-group input-group-outline mb-3 @(Model.Codigo?.Length > 0 ? "focused" : "")">
                                <label asp-for="Codigo" class="form-label">Código</label>
                                <input asp-for="Codigo" class="form-control" />
                            </div>

                            @if (ViewBag.Mensaje != null)
                            {
                                <div class="d-flex align-items-center justify-content-between mb-4">
                                    <span class="badge badge-secondary">
                                        @ViewBag.Mensaje
                                    </span>
                                </div>
                            }

                            <div class="text-center">
                                <button type="submit" formaction="@Url.Action("ValidarCodigo", "EnableUser")" formmethod="get" class="btn bg-gradient-primary w-100 my-4 mb-2">Validar</button>
                            </div>
                            

                        </form>
                        <div>
                            <p class="mt-4 text-sm text-center">
                                <form asp-controller="EnableUser" asp-action="ReenviarCodigo" method="post" style="display:inline;">
                                    <input type="hidden" asp-for="Email" />
                                    <input type="hidden" asp-for="Codigo" />
                                    <button type="submit" class="btn btn-link" 
                                        style="background:none;border:none;">Reenviar código</button>
                                </form>
                            </p>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var enableUserMsg = '@(enableUserMsg ?? "")';
            if (enableUserMsg && enableUserMsg.length > 0) {
                var modal = new bootstrap.Modal(document.getElementById('enableUserModal'));
                modal.show();
            }
        });
    </script>
}
